.LG-ScrollPanel {
  background-color: #ffffff;
}

.LG-ScrollPanel img {
  width: 100% !important;
  border-radius: 0 50px 0 50px;
}

.LG-ScrollPanel p {
  font-size: 0 !important;
}

.LG-ScrollPanel-Content {
  max-width: 800px;
  margin: 0 auto;
}
.LG-Section {
  width: calc(100% - 40px) !important;
  margin-right: 20px;
  margin-left: 20px;
}
