.LG-ScrollPanel {
  background-color: #ffffff;
}

.LG-ScrollPanel img {
  width: 100% !important;
  border-radius: 0 50px 0 50px;
}

.LG-ScrollPanel p {
  font-size: 0 !important;
}

.LG-ScrollPanel-Content {
  max-width: 800px;
  margin: 0 auto;
}
.LG-Section {
  width: calc(100% - 40px) !important;
  margin-right: 20px;
  margin-left: 20px;
}

input[type="text"] {
  height: 53.6px;
  border: 2px solid #000000;
  background-color: #ffffff;
  font-size: 16px;
  color: #434343;
  line-height: 21.6px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  padding: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 8px;
}
